<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-3xl">Projects</h1>
    <%= link_to 'New project', new_project_path, class: "btn btn-primary" %>
  </div>

  <% if @projects.any? %>
    <div class="bg-white rounded shadow">
      <table class="w-full">
        <tbody>
          <% @projects.each do |project| %>
            <tr class="group border-t border-gray-400 hover:bg-gray-100">
              <td class="p-3"><%= project.name %></td>
              <td>
                <%= link_to "View", project, class: "btn btn-primary" %>
                <%= link_to "Edit", edit_project_path(project), class: "btn btn-success" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="bg-white rounded shadow flex items-center justify-between p-8">
      <div class="flex-1 text-center">
        <p class="text-2xl font-semibold">Create your first project</p>
      </div>
    </div>
  <% end %>
</div>
